@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.page {
  display: flex;
  flex-direction: column;
  gap: clamp(1.875rem, 1.25rem + 3.3333vw, 3.75rem);
  max-inline-size: 1200px;
  min-inline-size: 300px;
  block-size: 100vh;
  min-block-size: 668px;
  margin: 0 auto;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.header {
  margin-block-start: clamp(1.25rem, 0.8099rem + 1.8779vw, 2.5rem);
  margin-inline: clamp(1.25rem, 0.8099rem + 1.8779vw, 2.5rem);
}

.header__title {
  align-self: center;
  font-size: clamp(1.875rem, 0.5546rem + 5.6338vw, 5.625rem);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.9;
}

.header__title-accent {
  display: block;
  font-size: clamp(1.5rem, 0.4437rem + 4.507vw, 4.5rem);
  color: #c79494;
}

.content__hieroglyphs {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    clamp(12.5rem, 8.3333rem + 22.2222vw, 25rem)
  );
  gap: clamp(1.875rem, 1.25rem + 3.3333vw, 3.75rem);
  justify-content: center;
  align-items: center;
  width: 100%;
}
